{% extends '_base.html' %}

{% block page_title %}
    Add new post
{% endblock page_title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                <div class="card shadow my-3 p-5">
                    <h3>Add new Post:</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }} {# <p>Hello</p><p>Hello</p> #}
                        </table>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-3">
                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">We love python and django. So we created a blog site to share our
                            thoughts</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}