{% extends '_base.html' %}

{% block page_title %}
    Post List
{% endblock page_title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                {% for post in posts_list %}
                    <div class="card shadow-sm my-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted small py-2">By: {{ post.author }}</h6>
                            <p class="card-text py-3">
                                {{ post.text }}
                            </p>
                            <a href="{% url 'post_detail' post.id %}" class="btn btn-sm btn-success">Read More</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-3">

                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">We love python and django. So we created a blog site to share our
                            thoughts</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}